/*base*/
body html{
    font-family: 'Telex', sans-serif;
}

p{
   font-size: small; 
}

#offlineHeading {
    font-size: 12pt; 
    margin-left: auto;
    margin-right: auto;  
}

.internalParagraphHeader {
    font-size: larger;
    font-weight: 600;
}

#confirm {
    font-family: Arial;
    font-size: large;
    margin: 6px 6px 6px 6px;
}

.important{
    font-weight: bold;
}

.version {
    font-size: x-small;
    text-align: center;
    margin-top: 40px;
    width: auto;
    height: auto;
    display: block;
    flex-align: center;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

/*pages (can be DIVs)*/
#schedule{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#confirm div {
    font-size: small; 
}

/*dialogs and popups*/
.popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width:auto;
  max-width: 800px;
  margin: 0 auto; 
}

.terms p{
    padding: 2px;
    font-size: x-small;
}

.terms h4{
    font-size: small;
}

/*ad rotator*/
img.ad{
    width: auto;
    height: auto;
    display: block;
    flex-align: center;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

#adFooter{
    height: 196px;
}

/*images and icons*/
img.logo{
    width: 300px;
    display: block;
    flex-align: center;
    padding-top: 24px;
    margin-left: auto;
    margin-right: auto;
    clear: both; 
}

.scrollContent{
    display: inline-block;
    float: multicol;
}

.scrollContent a:hover{
    text-decoration-line: overline;
}

.scrollContent a{
    text-decoration: none;
    color: #211e1e;
    text-decoration-color: #211e1e;  
}

.scrollIcon {
    background: url(images/icons-18-black.png) -214px 0px;
    background-repeat: no-repeat;
    width:20px;
    height:20px;
    min-width:20px;
    min-height:20px;
    padding-left: 5px;
    margin-top: -24px;
    float: right;
}

.scrollIconSmall {
    background: url(images/icons-18-black.png) -214px -7px;
    background-repeat: no-repeat;
    width:20px;
    height:10px;
    min-width:20px;
    min-height:10px;
    padding-left: 0px;
    margin-top: 0px;
    float: right;
}

.scrollHeader{
    border-width: thin;
    border-style: solid;
    border-color: #808080;
    padding-left: 7px;
}

.scrollHeader h4{
    margin-top: 7px;
    margin-bottom: 7px;
}

.up{
    background: url(images/icons-18-black.png) -180px 0px;
}

.footerLogo{
    text-align: center;
}

/*checkin form*/
.mainForm ul{
    padding: 0em 0em 0em 0em;
    margin-left: 0em;
    margin-right: 1.5em;
    list-style: none;
}

.mainForm li {
    font-size: x-small;
    color: #f00; 
}

.mainForm input{
    height: 30px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #ababab;
    margin-top: 2px;   
    padding: 10px;
    font-size: 10pt;
    outline: none;
}

.submitButton{
    height: 30px;
    width: 100%;
    font-size: medium;
    font-weight: bold;
    border-width: thin;
    border-style: solid;
    border-color: #211e1e;
    background-color: #d6c8c8;
}

.topTextBox{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.bottomTextBox{
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

/*offline page*/
#contentOffline div {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.schedule {
    border-collapse: collapse;
    background-color: #f0eaea;
}

.schedule th, tbody, td {
    border:  1px solid black;  
}

.schedule th{
    background-color: #d6c8c8;
}

.schedule td{
    padding:  3px;
}

/*confirmation page*/
div.rightalign {
    display: block;
    text-align: right; 
    float: left;
    padding: 2px;
}

.ui-block-b {
    font-weight: 700;
}

#confirmationMessage {
    border-style: solid;
    border-width: thin;
    padding: 2px;
    word-wrap: break-word;
}

#confirm {
    padding: 2px;
}

#message {
    width: 300px;
    padding: 2px;
}

#message input {
    width: 86px;
    padding: 2px;
}

#clearStorageContent {
    width: 480px;
    margin: auto;
}

#location {
    display: inline-block;
}

#attendTime {
   display: inline-block; 
}

#clinicAddress {
    margin-left: 0px!important;
}

