<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fastwebcheckin.mobile" version="1.0.7" versionCode="12" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>WebCheckin</name>
    <description>
        FastWebCheckin mobile app
    </description>
    <author email="mark.cafazzo@capacitive.ca" href="http://www.capacitive.ca">
        Mark Cafazzo
    </author>
    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="blackberry" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="phonegap-version" value="cli-6.5.0" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="false" />
    <preference name="exit-on-suspend" value="true" />
    <platform name="ios">
        <icon height="57" platform="ios" src="www/res/icon/ios/Icon.png" width="57" />
        <icon height="114" platform="ios" src="www/res/icon/ios/Icon@2x.png" width="114" />
        <icon height="40" platform="ios" src="www/res/icon/ios/Icon-40.png" width="40" />
        <icon height="80" platform="ios" src="www/res/icon/ios/Icon-40@2x.png" width="80" />
        <icon height="50" platform="ios" src="www/res/icon/ios/Icon-50.png" width="50" />
        <icon height="100" platform="ios" src="www/res/icon/ios/Icon-50@2x.png" width="100" />
        <icon height="60" platform="ios" src="www/res/icon/ios/Icon-60.png" width="60" />
        <icon height="120" platform="ios" src="www/res/icon/ios/Icon-60@2x.png" width="120" />
        <icon height="72" platform="ios" src="www/res/icon/ios/Icon-72.png" width="72" />
        <icon height="144" platform="ios" src="www/res/icon/ios/Icon-72@2x.png" width="144" />
        <icon height="76" platform="ios" src="www/res/icon/ios/Icon-76.png" width="76" />
        <icon height="152" platform="ios" src="www/res/icon/ios/Icon-76@2x.png" width="152" />
        <icon height="29" platform="ios" src="www/res/icon/ios/Icon-small.png" width="29" />
        <icon height="58" platform="ios" src="www/res/icon/ios/Icon-small@2x.png" width="58" />
    </platform>
    <icon gap:density="ldpi" gap:platform="android" src="www/images/android/ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="www/images/android/mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="www/images/android/hdpi.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="www/images/android/xhdpi.png" />
    <icon gap:density="xxhdpi" gap:platform="android" src="www/images/android/xxhdpi.png" />
    <preference name="disable-cursor" value="true" />
    <icon gap:platform="blackberry" src="www/icon.png" />
    <icon src="www/icon.png" />
    <preference name="permissions" value="none" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <engine name="ios" spec="4.5.5" />
    <engine name="android" spec="7.1.4" />
</widget>
